@import "tailwindcss";

:root {
  color-scheme: light;
  --background: linear-gradient(to bottom, #87ceeb, #add8e6, white);
  --foreground: white;
  --button: lightgreen;
  --button-hover: green;
  --text: black;
}

:root.dark {
  color-scheme: dark;
  --background: linear-gradient(to bottom, black, #0b0b3b, #1c1c3a);
  --foreground: #202020;
  --button: darkgreen;
  --text: #ededed;
}

html,
body {
  background: var(--background);
  color: var(--text);
  height: 100%;
  min-height: 100vh;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  display: block;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

.card {
  background: rgba(250, 250, 250, 0.3);
  box-shadow: 3px 2.5px 7px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: fit-content;
}

input {
  background: var(--foreground);
  border: 0.01rem solid var(--text);
  padding: 0.1rem 0.2rem;
}

button {
  background: var(--button);
  border-radius: var(--radius-lg);
  display: block;
  padding: 0.6rem 1rem;
}

button:hover {
  background: var(--button-hover);
  text-decoration: none;
}

img {
  text-align: center;
}

#loading {
  display: none;
  margin: 2rem auto;
  width: 2rem;
}

select {
  background: var(--foreground);
}